
<div>
    <div>
        <img [src]="image_path">

        <div>
            <p>{{user.name}}</p>
            <p>{{user.email}}</p>
            <p>{{user.date}}</p>
        </div>
    </div>

    <input 
        type="file"
        name="avatar"
        (change)="on_selected_file($event)"
    />

    <button
        (click)="upload_avatar()"
    >Загрузить аватар</button>

    <button
        (click)="delete_avatar()"
    >Удалить аватар</button>


    <button
        (click)="this.UserService.go_to_page('news')"
    >Новости</button>

    <button
        type="submit"
        (click)="this.UserService.go_to_page('messages')"
    >Мессенджер</button>

    <button
        type="submit"
        (click)="this.UserService.go_to_page('friends')"
    >Друзья</button>

    <button>
        Выйти
    </button>

    <button>
        Администрирование
    </button>
</div>
